$base-color-first: rgb(255, 0, 0);
$base-color-second: rgb(0, 0, 255);
$base-color-third: rgb(0, 255, 0);
$base-color: white ;
$text-color:rgb(178, 178, 250);
$font-base-size: 0.90rem;
$color-percent:8;
